body{
    background-color: lightblue;
    display: block;
    text-align: center;
}

.container{
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-family: "Special Elite", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    border-bottom: 1px dashed pink;
}

form{
    font-family: "Special Elite", system-ui;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;    
}

#input{
    font-style:italic;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 5px;
    border: none;
    background-color: rgb(251, 240, 242);
    padding: 10px;
    width: 80%;
}
 
.generate-button{
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 600;
    margin-left: 5px;
    background-color: rgb(251, 240, 242);
    border: none;
    
}

.quote-container{
    background-color: white;
    border-radius: 20px;
    border-left: 3px solid pink;
    border-right: 3px solid pink;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Special Elite", system-ui;
    margin: 20px auto;
    padding: 20px;
}

footer{
    font-family: "Special Elite", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px dashed pink;
}